
.sobrerioantigo {
    margin: 20px 0 30px 0;
    padding: 10px 0;
    box-sizing: content-box;
}

.sobrerioantigo h3 {
    padding: 10px 0;
    font-family: monospace;
    font-size: 20px;
    color: brown;
}

.sobrerioantigo p {
    font-family: monospace;
    font-size: 18px;
    text-align: justify;
}

.rioantigocabecalho {
    /*border: 1px solid blue;*/
    border-radius: 2%;
    width: 95%;
    font-size: 28px;
    font-family: 'arima', cursive;
    padding: 10px;
    padding-bottom: 10px;
    color: rgb(10, 85, 151);
}

.rioantigo {
    /*border: 1px solid blue;*/
    border-radius: 2%;
    width: 95%;
}

.rioantigo h3 {
    text-align: center;
    color: brown
}

.rioantigo p {
    text-align: justify;
    padding: 10px;
}

.rioantigo:hover {
    border: 5px solid blueviolet;
}

.conteudo-rio-antigo-img {
    align-content: center;
    text-align: center;
    margin: 8px 0;
}

.conteudo-rio-antigo-img img {
    width: 220px;
}