body {
  width: 940px;
  background-color: rgb(224, 223, 890);
}

h1 {
  color: rgb(0, 122, 179);
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  color: rgb(116, 116, 116);
}

p::first-line {
  color: rgb(34, 51, 202);
  text-transform: uppercase;
}

section p {
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-align: justify;
}

section article p {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
}

footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(206, 206, 206);
}

footer ul {
  color: black;
  list-style-type: square;
}

footer ul li a {
  text-decoration: none;
}

footer ul li :hover {
  color: rgb(19, 141, 150);
  font-size: 1em;
}

footer ul li a:hover {
  color: rgb(212, 48, 48);
  font-size: 1.3em;
}

footer ul li a:visited {
  color: rgb(206, 206, 206);
}
